
/*MEDIA QUERY PARA RESPONSIVE-->*/     

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

/*DESKTOP*/

@media screen and (min-width: 1024px){   /* Min width a partir de -->*/

    .m-sm-0{
        margin: 0rem !important;
    }
    
    .mb-sm-5{
        margin-bottom: 3rem !important;
    }


    .ms-xl-el{
        margin-left: 5rem !important;
        
    }

    .container-header{
        position: absolute;
        top: 25rem;
        left: 0rem;
        width: 40%;
    }



/*ESTILOS A ABOUT */

    .ms-xl-ab{
        margin-left: 10rem !important;
    }

    .w-xl-ab{
        width: 30rem !important;
    }

    .about-xl{
        margin-top: 10rem;
  
    }



    .container-header{
        position: absolute;
        top: 20rem;
        left: 10rem;
        width: 40%;
    }

    .h1-xl-fs{
        font-size: 80px;
        font-family: 'Bebas Neue', sans-serif;
    }

    .p-xl-fs{
        font-size: 30px;
    }

    .icons-div{
        position: absolute;
        justify-content: end;
        left: 98rem;
        top: 1.5rem;
    }


}
.fi{                                 /*fi clase de los iconos uno por uno*/
    margin-left: 1rem;
}

.max-image{            /*v = viewport sona rectangular visible de la pagina */
    height: 100vh !important;
    width: 100vw !important;
    max-width: 100%;
}

/*TABLET*/

@media screen and (min-width: 768px) and (max-width: 1024px){

    .container-header{
        position: absolute;
        top: 20rem;
        left: 0rem;
        width: 100rem;
    }

    .h1-md-fs{
        font-size: 80px;
        font-family: 'Bebas Neue', sans-serif;
    }

    .p-md-fs{
        font-size: 30px;
    }

    .icons-div{
        position: absolute;
        justify-content: end;
        left: 30rem;
        top: 1.5rem;
    }


}

/*SMARTPHONE*/

@media screen and (max-width: 767px){

    .container-header{
        position: absolute;
        top: 20rem;
        left: 0rem;
        width: 100rem;
    }

    .h1-xl-fs{
        font-size: 50px;
        font-family: 'Bebas Neue', sans-serif;
    }

    .p-sm-fs{
        font-size: 20px;
    }

    .icons-div{
        position: absolute;
        top: 1.2rem;
        left: 8rem;
    }

    .fi{                                 /*fi clase de los iconos uno por uno*/
        margin-left: 0rem;
    }

    .site-footer{
      margin-top: 40rem;
    }

    
   
}

.ftn{
    font-family: 'Muli', sans-serif;
}


.img-col{  
    max-width: 540px; 
    max-height: 202px;
}



.skill-div{
    width: 110rem;
    height: 50rem;
    text-align: center;
    background-color: rgb(249, 249, 251);
}


.txtfont{
    color: rgb(33, 37, 41);
    font: bold 50px arial, sans-serif;
}

.skills {
    max-width: 68.75rem;
    margin: auto;
    text-align: center;
    margin-top: 2.5rem;
  }
  
  .skill-header {
    margin-bottom: 1rem;
  }
  
  .skills-wrapper img {
    padding: 1.25rem;
  }
  
  .icon {
    width: 11.875rem;
    height: 11.25rem;
  }
  
  .icon-card {
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 3px 10px var(--secondary-shadow);
    padding: 20px;
    margin: 10px;
  }
  


  /*footer*/

  

.site-footer
{
  background-color:rgb(33, 37, 41);
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

/*HACER BORROSA LA IMAGEN DEL ABOUT*/
.img-me{
  filter: blur(15px);
}